*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Questrial";
}

html,body {
    height: 100%;
    width: 100%;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(105, 170, 255);
}

.pannel{
    height: 80%;
    width: 80%;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
}

.pannel-top{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 30%;
    display: flex;
    width: 100%;
    height: 90px;
    background-color: rgb(94, 94, 250);
}
.elem{
    display: flex;
    gap: 20px;
    align-items: center;
}

.elem h2{
    color: white;
    font-weight: 700;
    font-size: 22px;
}

.box{
    color: black;
    font-weight: 700;
    font-size: 22px;
    padding: 10px; 
    background-color: white; 
    border-radius: 4px; 
} 
 
.pannel-bottom{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    height: calc(100% - 90px);
    padding: 20px;
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(94, 94, 250)
}

.bubble:hover{
    background-color: rgb(72, 72, 217);
    cursor: pointer;
}